/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 23, 2019, 5:00:30 PM
    Author     : i-am-prinx
*/

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}


body {
    background: #303035;
    color: white;
    font-size: 18px;
    width: 99vw;
    height: 70vh;
}

.wrapper {
    margin: 8rem 26rem;
    padding: 2rem;
    width: 48%;
    background: rgba(60, 60, 60, .7);
}

.wrapper  h1 {
    font-size: 35px;
    font-weight: bold;
    color: rgba(32, 190, 255, 0.87);
}


.form-wrap {
    padding-bottom: 15px;
}

.form-field {
    margin: 5px;
}

.form-field input {
    width: 90%;
    padding: 3px;
    font-size: 16px;
    background: transparent;
    color: white;
    border: 1px solid skyblue;
    height: 38px;
}

.submit-btn {
    padding: 3px;
    background: transparent;
    color: #00d3ff;
    font-weight: bold;
    border: 1px solid coral;
    font-size: 18px;
    border-radius: 5px;
}

.reports {
    margin: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-gap: 20px;
}


.report-field {
    margin: 18px;
}

.totaling {
    margin: 5rem 0;
}

#title {
    font-size: 25px;
    color: coral
}

.t {
    color: #00d3ff;
}